body {
  overflow-x: hidden;
}

.bg-blue {
  position: relative;
  background-color: #007a73;
}

.navbar-nav ul {
  margin-bottom: 0;
  list-style: none;
  display: flex;
}

.navbar-nav ul li {
  color: #fff;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

.dashboard {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo {
  width: 60px;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #007a73;
  text-align: center;
  color: #fff;
}

.login-button {
  color: #fff;
  width: 100%;
  height: 50px;
  margin: 45px 0 0;
  padding: 17px 148px;
  border-radius: 5px;
  background-color: #007a73 !important;
}

.form-group {
  width: 350px !important;
}

.error {
  color: red !important;
}

.MuiPaper-elevation2 {
  width: 90% !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.company-title {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding: 10px;
}

.login {
  width: 30%;
  height: 75%;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
}

.hv-100 {
  height: 100vh !important;
}

.hv-85 {
  height: 85vh !important;
}

.bg-body {
  background: #f7f7f7;
}

.logo-box {
  width: 150px;
  height: 70px;
  margin: 0 95px 50px;
  padding: 24px 49px 23px;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #fff;
}

.logo {
  width: 52px;
  height: 23px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #007a73;
}

.sidebar {
  width: 300px;
  height: 100vh;
  padding: 0 0 2px;
  background-color: #f7f7f7;
}

.orders {
  width: 85px;
  height: 32px;
  margin: 25px 0px;
  opacity: 0.8;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.sidebar ul {
  padding: 0;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 20px;
  list-style-type: none;
  color: #505050;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .active {
  background-color: #fff !important;
  color: #007a73 !important;
}

.icon-size {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  object-fit: contain;
}

.no-orders-icon {
  width: 120px;
  height: 120px;
  margin: 0 50.5px 20px;
  object-fit: contain;
}

.no-orders-title {
  margin: 0 56.5px 5px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: left;
  color: #303030;
}

.you-dont-have-any-orders-right-now {
  margin: 5px 0 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: left;
  color: #707070;
}
.new-order {
  margin: 30px 45px 0 !important;
  padding: 10px 18px !important;
  border-radius: 4px !important;
  background-color: #007a73 !important;
}
.new-order-button {
  border-radius: 4px !important;
  font-size: 15px !important;
  background-color: #007a73 !important;
}

.order-date-picker .react-date-picker__wrapper {
  padding: 3px;
}

.search-bar {
  width: 215px;
  height: 34px;
  padding: 10px 35px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  background-image: url("/images/icons/search.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  outline: none;
}

.iconsearch {
  position: absolute;
  top: 25%;
  z-index: 999;
  width: 16px;
  height: 16px;
  object-fit: contain;
  border-radius: 3px;
}

/* Table CSS */

body {
  font-family: "open sans", sans-serif;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  margin: 1px 3px 1px 0;
  opacity: 0.8;
  font-family: Roboto;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  border-bottom: 2px solid black;
}

thead button {
  display: inline-block;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  background-color: #fff;
  margin-bottom: 1px;
}
thead button:focus {
  outline: 0 !important;
}

thead button::after {
  /* content: '👇☝️'; */
  content: "\21C5";
  display: inline-block;
  margin-left: 1em;
}
thead button.ascending::after {
  content: "\21A5";
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: "\21A7";
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}

.react-date-picker__inputGroup__input:invalid {
  background-color: transparent;
}

.react-date-picker__button__icon:active {
  background-color: transparent;
  outline: none;
}
.react-date-picker__clear-button:focus {
  background-color: transparent;
  outline: none;
}

.load-more-button {
  margin-top: 10px;
  border-radius: 4px !important;
  color: #007a73 !important;
  border: solid 1px #007a73 !important;
  background-color: #ffffff !important;
}

.modal-title {
  width: 100% !important;
  text-align: center;
}

/* Form Styles */

/**
* Make the field a flex-container, reverse the order so label is on top.
*/

.field {
  display: flex;
  flex-flow: column-reverse;
  border: 1px solid #c1c1c1;
}
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/
.floating label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}

.floating input {
  border: 0;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 6px;
  cursor: text;
}

.floating input:focus {
  outline: 0;
}

.floating label {
  font-size: 13px!important;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0 9px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: -0.1px;
  text-align: left;
  color: #707070;
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
.floating input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 1.45rem) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
.floating input:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
.floating input:not(:placeholder-shown) + label,
.floating input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.w-100 {
  width: 100% !important;
}

.order-button {
  background-color: #007a73 !important;
  padding: 10px !important;
}

.order-button:focus {
  outline: none !important;
}

.input-feedback{
  color: red !important;
}